.content{
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translatex(-50%) translatey(-50%);
    border:2px solid coral;
    border-radius: 14px;
    padding: 42px;
}
h2{
    color: blue;
}
#clear{
    color:white ;
    background-color: red;
    width: 68px;
    height: 26px;
    border-radius: 5px;
}
#check{
    color:white ;
    background-color: green;
    width: 68px;
    height: 26px;
    border-radius: 5px;
}